<% if @author.errors.any? %>
  <div class="container">
    <% @author.errors.full_messages.each do |msg| %>
      <div class="row">
        <%= msg %>
      </div class="row">
    <% end %>
  </div class="container">
<% end %>

<div class="container">
<%= form_for @author do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter Name"%>
</div>
<div class="form-group">
  <%= f.label :surname %>
  <%= f.text_field :surname, class: "form-control", placeholder: "Enter Surname" %>
</div>
<div class="form-group">
  <%= f.label :age %>
  <%= f.number_field :age, class: "form-control" %>
  <hr/>
</div>
  <%= f.submit 'Save', class: "btn btn-primary" %>
<% end %>
</div>
