<h1>
<%= @author.fullname %>
</h1>

<p>
  Age:
  <%= @author.name %>
  <hr/>
  Created at:
  <%= @author.created_at %>
  <hr/>
  Updated at:
  <%= @author.updated_at %>
</p>

<%= link_to 'Back to authors', authors_path %>
