<% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="row">
        <%= msg %>
      </div>
    <% end %>
<% end %>

<br><br>
<%= form_for @post do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", placeholder: "Enter Title" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control", placeholder: "Fill with your content" %>
</div>
<div class="form-group">
  <%= f.label :author %>
  <%= f.select :author_id, options_for_select(@authors.collect{ |a| [a.fullname, a.id] }), {}, {class: "form-control"} %>
</div>
  <%= f.submit 'Save', class: "btn btn-primary" %>

<%= link_to 'Go back', posts_path, data: { confirm: "Are you sure? You will lose all your data" }, role: 'button', class: 'btn btn-danger' %>

<% end %>
