<div class="jumbotron">
  <h1>Title: <%= @post.title %></h1>
</div>

<div class="container">
  <div style="margin-bottom: 100px">
    <p>
      Content:
      <%= @post.content %>
      <hr/>
      Author:
      <%= @author.fullname %>
      <hr/>
      Created at:
      <%= @post.created_at %> |
      Updated at:
      <%= @post.updated_at %>
    </p>
    <hr/>
    <%= link_to 'Go back', posts_path, class: 'btn btn-danger' %>
  </div>
  <div class="comments">
    <h2>Comments:</h2><br>
    <% if !@comments.nil? %>
      <% @comments.each do |comment| %>
        <hr/>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    <% end %>
  </div>

  <br><br><br>

  <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |msg| %>
        <div class="row">
          <%= msg %>
        </div>
      <% end %>
  <% end %>

  <h2>Add Comment</h2><br>

  <%= form_for @comment, remote: true, html: {class: 'new-comment'} do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", placeholder: "Type yout comment" %>
  </div>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.select :author_id, options_for_select(@authors.collect{ |a| [a.fullname, a.id] }), {}, {class: "form-control"} %>
  	<% f.hidden_field :post_id, :value => @post.id %>
  </div>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  <% end %>




</div>
